@import 'Variables';

.Bg-Base
{
    background-color: $colorbg-primario;

}

.Bg-gray
{
    background-color: $GrayRdBg ;

}

.Bg_temaD
{
    background-color: $colorBg-secundarioD;
    
}

.Bg-dark
{
    background-color: rgba(0, 0, 0, 0.668);
}
