.my-button-rojo {
  background-color: #ff0000;
  color: #ffffff;
  padding: 10px 20px;
  border: 2px white solid;
  border-radius: 5px;
}

.my-button-azul {
  background-color: #0051ff;
  color: #ffffff;
  padding: 10px 20px;
  border: 2px white solid;
  border-radius: 5px;
}

.my-button-amarillo {
  background-color: #ffea00;
  color: #ffffff;
  padding: 10px 20px;
  border: 2px white solid;
  border-radius: 5px;

  
&:hover  {
  background-color: bisque;
}

}


button {
  font-family: monospace;
  font-size: 1.5rem;
  color: #FAFAFA;
  text-transform: uppercase;
  padding: 10px 20px;
  border-radius: 10px;
  border: 2px solid #FAFAFA;
  background: $color-secundario;
  box-shadow: 3px 3px #fafafa;
  cursor: pointer;
  margin: 35px 0;
}

button:active {
  box-shadow: none;
  transform: translate(3px, 3px);
}