
$color-primario : rgb(142, 5, 194);
$color-secundario : rgb(112, 11, 151);
@import 'FontsStyles';

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}


.nav {
  @include center;
  background-color: $color-primario;
  overflow: hidden;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  ul li {
    float: left;

    a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 20px;
      text-decoration: none;

      &:hover {
        background-color: $color-secundario;
        color: black;
      }
    }
  }
}

.nav2
{
  @extend .nav;
  justify-content: space-between;
  padding: $color-primario;
  display: flex;
  align-items: center;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;

  .logo{
    @extend .titulo;
    font-size: 32px;
    color: white;
    text-decoration: none;
    margin-left: 15px;

    &::first-letter {
      color: $color-primarioC;
      margin-right: 10px;
      text-shadow: 3px 4px white;
      font-size: 40px;
   }

  }
}

.nav3{
  justify-self: flex-start;
  background: $color-primario;
  height: 100vh;
  width: 260px;


  label .close-btn{
      display: none;
  }

  .container .logo h2{
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    opacity: 0;
    pointer-events: none;
    transition: 0.3s ease;
  }
  .logo{
    @extend .titulo;
    font-size: 32px;
    color: white;
    text-decoration: none;
    margin-left: 15px;

    &::first-letter {
      color: $color-primarioC;
      margin-right: 10px;
      text-shadow: 3px 4px white;
      font-size: 40px;
   }

  }

  .sidenav .search_bar{
      margin-top: 32px;
      position: relative;
  }

  .sidenav .search_bar i{
      position: absolute;
      color: black;
      font-size: 24px;
      left: 38px;
      top: 50%;
      transform: translate(-50%, -50%);
  }

  .sidenav .search_bar input{
      width: 50%;
      padding: 11px;
      padding-left: 40px;
      border-radius: 5px;
      border: none;
      outline: none;
      margin-left: 15px;
  }

  .sidenav .menu_text{
      margin-top: 24px;
  }

  .sidenav .menu_text p{
      font-size: 17px;
      font-weight: 500;
      text-transform: uppercase;
      padding-left: 10px;
  }

  .sidenav .icon_items ul{
      list-style: none;
      margin-top: 32px;
      padding: 0 10px;
  }

  .sidenav .icon_items ul li{
      cursor: pointer;
      margin: 4px;
      padding: 12px 0;
      border-radius: 8px;
      display: flex;
      align-items: center;
      transition: 1.0s ease;
  }

  .icon_items .active,
  .sidenav .icon_items ul li:hover{
      background: white;
  }

  .sidenav .icon_items ul li i{
      font-size: 26px;
      padding: 0 12px;
  }

  .sidenav .icon_items ul li a{
      text-decoration: none;
      color: black;
      font-size: 17px;
      padding-left: 18px;
      opacity: 0;
      pointer-events: none;
      transition: 0.3s ease;
  }

  #click{
      display: none;
  }

  .container label{
      position: absolute;
      left: 3%;
      top: 1.5%;
      font-size: 24px;
      z-index: 1;
      cursor: pointer;
  }

  #click:checked ~ .sidenav{
      width: 260px;
  }

  #click:checked ~ .sidenav .icon_items ul li a{
      opacity: 1;
      pointer-events: auto;
  }

  #click:checked ~ .sidenav .logo h2{
      opacity: 1;
      pointer-events: auto;
  }

  #click:checked ~ .sidenav .search_bar input{
      width: 100%;
      margin-left: 0;
  }

  #click:checked ~ .sidenav .search_bar i{
      left: 20px;
  }

  #click:checked ~ label{
      left: 1%;
  }

  #click:checked ~ label .close-btn{
      display: block;
  }

  #click:checked ~ label .menu-btn{
      display: none;
  }
}




