
$color-primario : rgb(142, 5, 194);
$color-secundario : rgb(112, 11, 151);
@import 'FontsStyles';

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}


.nav {
  @include center;
  background-color: $color-primario;
  overflow: hidden;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  ul li {
    float: left;

    a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 20px;
      text-decoration: none;

      &:hover {
        background-color: $color-secundario;
        color: black;
      }
    }
  }
}

.nav2
{
  @extend .nav;
  justify-content: space-between;
  padding: $color-primario;
  display: flex;
  align-items: center;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;

  .logo{
    @extend .titulo;
    font-size: 32px;
    color: white;
    text-decoration: none;
    margin-left: 15px;

    &::first-letter {
      color: $color-primarioC;
      margin-right: 10px;
      text-shadow: 3px 4px white;
      font-size: 40px;
   }

  }
}

.nav3{
justify-self: flex-start;
background: #119aaf;
height: 100vh;
width: 130px;


  label .close-btn{
      display: none;
  }

}




