@import 'Variables';

.Pd-lf-rg-small
{
    padding-left: $small;
    padding-right: $small;
}

.Pd-lf-rg-meduium
{
    padding-left: $meduium;
    padding-right: $meduium;
}

.Pd-lf-rg-large
{
    padding-left: $large;
    padding-right: $large;
}