@import 'Variables';

.shadow-bottom {
    box-shadow: 00px 10px 00px 0px white;
}

.shadow-left {
    box-shadow: -5px 5px 0px 0px white;
}

.shadow-top {
    box-shadow: 0px -10px 0px 0px white;
}

.shadow-right {
    box-shadow: 10px 0px 0px 0px white;
}

.shadow-small {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.shadow-medium {
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
}

.shadow-large {
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.5);
}

.shadow-up {
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.2);
}

.shadow-down {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.shadow-left {
    box-shadow: -2px 0 4px rgba(0, 0, 0, 0.2);
}

.shadow-right {
    box-shadow: 2px 0 4px rgba(0, 0, 0, 0.2);
}

@mixin shadow-difum
{
    box-shadow: 0px 0px 10px 2px rgb(169, 21, 255);
}

@mixin shadow-difum_color ($color)
{
    box-shadow: 0px 0px 10px 2px $color;
}

@mixin Hover_shadow-difum_imput
{
    box-shadow: 0px 2px 0px 0px  $color-primarioB ;
}

@mixin shadow-bottom_imput
{
    box-shadow: 0px 2px 0px 0px  lighten($color: $color-primarioB, $amount: 25);
}