@import 'Variables';




//Estilo para imagenes de codigos
.Img_code {
  border-radius: 3px;
  margin: 2%;
  height: auto;
  width: 50%;
  object-fit: contain;
}

.codes {
  height: 50%;
  object-fit: contain;
  scale: .8;
}

.overlay {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 40%;
  height: 40%;
}

.overlay img {
  object-fit: contain;
  filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.5));
}

//carrucel
.carousel {
  width: 100%;
  overflow: hidden;
}

.inner_carousel {
  display: flex;
  transition: transform 0.8s ease-in-out;
}

.carousel img {
  height: 90vh;
  width: 100%;
  object-fit: cover;
}

.prev-button,
.next-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 10px;
  cursor: pointer;
  display: none;
}

.prev-button {
  left: 10px;
}

.next-button {
  right: 10px;
}

//carrucel btn
.carousel_md {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.inner_carousel_md {
  display: flex;
  transition: transform 0.9s ease-in-out;
}

.carousel_md img {
  height: 170vh;
  width: 100%;
  object-fit: cover;
}


//
.carousel_btn {
  width: 100%;
  overflow: hidden;
}

.carousel_btn2 {
  width: 100%;
  overflow: hidden;
}

.carousel_btn3 {
  width: 100%;
  overflow: hidden;
}
//inner carucels
.inner_carousel_btn {
  z-index: 2;
  display: flex;
  flex-direction: row;
  transition: transform 0.7s ease-in-out;
  align-items: center;

}

.inner_carousel_btn button {
  margin:10px 3%;
    object-fit: cover;
    z-index: 2;
  }

.inner_carousel_btn_drch2 {
  z-index: 2;
  display: flex;
  flex-direction: row;
  transition: transform 0.8s ease-in-out;
  align-items: center;

}

.inner_carousel_btn_drch2 button {
  margin:10px 3%;
    object-fit: cover;
    z-index: 2;
  }

.inner_carousel_btn_izq {
  display: flex;
  flex-direction: row-reverse;
  transition: transform 0.9s ease-in-out;
  align-items: center;
  
}

.inner_carousel_btn_izq button {
  margin:10px 3%;
    object-fit: cover;
    z-index: 2;
  }


// Ocultar
.hidden {
  display: none;
}
.bottom-responsive{
  @media (max-width: 900px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    background: #000;
  }
}

.sidebar-responsive{
  @media screen and (max-width: 700px) {
    display: none;
}
}
/* CSS */
.img-set {
  height: 80vh;
  margin-top: 5%;
  padding-top: 2px;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  background-image: url('/DripCSS/IMG/metro\ .jpg');
  background-size: cover;
  object-fit: cover;
}



.self-start {
  margin-left: 10px;
  align-self: flex-start;
}

.self-right {
  margin-right: 10px;
  align-self: flex-end;
}

.contenido {
  display: flex;
  justify-content: space-around;
  align-items: center;
}


.contenido {
  margin-top: 10px;
  margin-left: 10px;

}

.contenido {
  transform: translate(10px, 10px);
}

.contenido {
  border: 2px solid #000;
}





.contenido {
  display: flex;
  justify-content: space-around;
  align-items: center;
}


.contenido {
  margin-top: 10px;
  margin-left: 10px;

}
.text-justify{
  text-align: justify;
}
.text-color{
  p{
    color: #f0f0f0;
  }
}

.contenido {
  transform: translate(10px, 10px);
}

.contenido {
  border: 2px solid #000;
}





//utilidades para construir row grids
.GRID-row-1 {
  display: grid;
  gap: 10px;
  grid-template-rows: 1fr;
}

.GRID-row-3 {
  @extend .GRID-row-1;
  height: 100%;
  grid-template-rows: 1fr 1fr 1fr;

}

.GRID-row-4 {
  @extend .GRID-row-1;

  grid-template-rows: 1fr 1fr 1fr 1fr;
}

.GRID-row-5 {
  @extend .GRID-row-1;

  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

//utilidades para construir col grids

.GRID-col-1 {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}



.GRID-col-3 {
  @extend .GRID-col-1;
  grid-template-columns: 1fr 1fr 1fr;
}

.GRID-col-4 {
  @extend .GRID-col-1;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.GRID-col-5 {
  @extend .GRID-col-1;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

//GRIDS CELLS SETS
.div-celda-1-1 {
  grid-column: 1 / 1;
  /* Inicio en la primera columna y fin en la segunda columna */
  grid-row: 1 / 1;
  /* Inicio en la primera fila y fin en la segunda fila */
  height: 40vh;
  width: 100%/2;
  background-color: red;

}

.div-celda-1-2 {
  grid-column: 2 / 2;
  /* Inicio en la primera columna y fin en la segunda columna */
  grid-row: 1 /1;
  /* Inicio en la segunda fila y fin en la tercera fila */
  height: 40vh;
  width: 100%/2;
  background-color: rgb(85, 255, 0);

}
.div-celda-2-1 {
  grid-column: 1 / 1;
  /* Inicio en la primera columna y fin en la segunda columna */
  grid-row: 2 / 2;
  /* Inicio en la tercera fila y fin en la cuarta fila */
  height: 40vh;
  width: 100%/2;
  background-color: rgb(0, 251, 255);

}

.div-celda-2-2 {
  grid-column: 2/ 2;
  /* Inicio en la primera columna y fin en la segunda columna */
  grid-row: 2 / 2;
  /* Inicio en la tercera fila y fin en la cuarta fila */
  height: 40vh;
  width: 100%/2;
  background-color: rgb(162, 0, 255);
}

.div-celda-1-3 {
  grid-column: 3 /3;
  /* Inicio en la primera columna y fin en la segunda columna */
  grid-row: 1 /1;
  /* Inicio en la segunda fila y fin en la tercera fila */
  height: 100%;
  width: 100%;
  background-color: rgb(30, 0, 255);

}



.div-celda-2-3 {
  grid-column: 3/ 3;
  /* Inicio en la primera columna y fin en la segunda columna */
  grid-row: 2 / 2;
  /* Inicio en la tercera fila y fin en la cuarta fila */
  height: auto;
}


.div-celda-3-3 {
  grid-column: 3 / 3;
  /* Inicio en la primera columna y fin en la segunda columna */
  grid-row: 3 / 3;
  /* Inicio en la primera fila y fin en la segunda fila */
  height: auto;
  background-color: $alert-info-border;

}

.div-celda-3-1 {
  grid-column: 3 / 3;
  /* Inicio en la primera columna y fin en la segunda columna */
  grid-row: 1 / 1;
  /* Inicio en la primera fila y fin en la segunda fila */
  height: auto;
  background-color: $alert-info-border;

}

.div-celda-3-2 {
  grid-column: 3 / 3;
  /* Inicio en la primera columna y fin en la segunda columna */
  grid-row: 2 / 2;
  /* Inicio en la primera fila y fin en la segunda fila */
  height: auto;
  background-color: $alert-info-border;

}

.div-celda-3-3 {
  grid-column: 3 / 3;
  /* Inicio en la primera columna y fin en la segunda columna */
  grid-row: 3 / 3;
  /* Inicio en la primera fila y fin en la segunda fila */
  height: auto;
  background-color: $alert-info-border;

}


.GRID-col-2 {
  @extend .GRID-col-1;
  box-sizing: border-box;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  width: 100%;

}


.GRID-row-2 {
  @extend .GRID-row-1;
  box-sizing: border-box;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
  height: 60vh;

}



/*Redondear elementos*/
.rounded-none {
  border-radius: none;
}

.rounded-xms {
  border-radius: map-get($map: $borders, $key: Xpequeno);
}

.rounded-sm {
  border-radius: map-get($map: $borders, $key: pequeno);
}

.rounded-md {
  border-radius: map-get($map: $borders, $key: mediano);
}

.rounded-gr {
  border-radius: map-get($map: $borders, $key: grande);
}

.rounded-Xgr {
  border-radius: map-get($map: $borders, $key: Xgrande);
}

.rounded-top-left {
  border-top-left-radius: map-get($map: $borders, $key: Xgrande);
}

.rounded-top-right {
  border-top-right-radius: map-get($map: $borders, $key: Xgrande);
}

.rounded-buttom-left {
  border-bottom-left-radius: map-get($map: $borders, $key: Xgrande);
}

.rounded-buttom-right {
  border-bottom-right-radius: map-get($map: $borders, $key: Xgrande);
}

.rounded-left {
  border-left: map-get($map: $borders, $key: Xgrande);
  ;
}

.rounded-rigth {
  border-right: map-get($map: $borders, $key: Xgrande);
  ;
}

.rounded-top {
  border-top: map-get($map: $borders, $key: Xgrande);
  ;
}

.rounded-buttom {
  border-bottom: map-get($map: $borders, $key: Xgrande);
  ;
}

.rounded-ovalo {
  border-radius: 40px;
  width: 200px;
  height: 100px;
}

.rounded-circulo-pequeño {
  border-radius: 50px;
  width: 150px;
  height: 150px;
}

.rounded-circulo-grande {
  border-radius: 100px;
  width: 150px;
  height: 150px;
}

/*ocultar elementos*/
.ocultar {
  display: none;
}

/*Canbiar color de fondo de los elementos*/
.plta-uno-backgraund-A {
  background: $colorbg-primario;
}

.plta-uno-backgraund-B {
  background: $colorBg-secundario;
}

.plta-dos-backgraund-A {
  background: $colorbg-primarioB;
}

.plta-dos-backgraund-B {
  background-color: $colorBg-secundarioB;
}

.plta-tres-backgraund-A {
  background-color: $color-primarioC;
}

.plta-tres-backgraund-B {
  background: $colorBg-secundarioC;
}

.plta-cuatro-backgraund-A {
  background: $colorbg-primario;
}

.plta-cuatro-backgraund-B {
  background: $colorBg-secundario;
}

.plta-backgraund-white {
  background: white;
  width: 80%;
}

.plta-backgraund-black {
  background: black;
  width: 80%;
}


/*//TIPOs DE TEXTO*/
//




// Definir las fuentes
$fonts: (Roboto: 'Roboto, sans-serif',
  Montserrat: 'Montserrat, sans-serif',
  OpenSans: 'Open Sans, sans-serif',
  Lato: 'Lato, sans-serif'
);

// Utilidad para cambiar el tamaño del texto
@mixin text-size($size, $font) {
  font-size: map-get($FontSize, $size);
  font-family: map-get($fonts, $font);
}

// Utilidad para cambiar el color del texto
@mixin text-color($color) {
  color: $color;
}

// Utilidad para cambiar el grosor del texto
@mixin text-weight($weight) {
  font-weight: $weight;
}

.txt_dashed
{
  text-decoration: underline;
}

.txt_dashed_lettergrow
{
  text-decoration: underline;
  &::first-letter {
    font-size: 130%;
    font-style: italic;
    font-weight: 500;
    margin-right: 0px;
    color: white;
  }
}

// Tamaños de fuente pequeño
.my-text-1 {
  @include text-size(pequeno, Roboto);
  @include text-color(black); // Cambia el color del texto a negro
  @include text-weight(normal); // Cambia el grosor del texto a normal
}

.my-text-2 {
  @include text-size(pequeno, Montserrat);
  @include text-color(black);
  @include text-weight(normal);
}

.my-text-3 {
  @include text-size(pequeno, OpenSans);
  @include text-color(black);
  @include text-weight(normal);
}

.my-text-4 {
  @include text-size(pequeno, Lato);
  @include text-color(rgb(253, 253, 253)); 
  @include text-weight(normal); 
}

// Tamaños de fuente mediano
.my-text-5 {
  @include text-size(mediano, Roboto);
  @include text-color(black);
  @include text-weight(normal);
}

.my-text-6 {
  @include text-size(mediano, Montserrat);
  @include text-color(black);
  @include text-weight(normal);
}

.my-text-7 {
  @include text-size(mediano, OpenSans);
  @include text-color(black);
  @include text-weight(normal);
}

.my-text-8 {
  @include text-size(mediano, Lato);
  @include text-color(black);
  @include text-weight(normal);
}

// Tamaños de fuente grande
.my-text-9 {
  @include text-size(grande, Roboto);
  @include text-color(black);
  @include text-weight(normal);
}

.my-text-10 {
  @include text-size(grande, Montserrat);
  @include text-color(black);
  @include text-weight(normal);
}

.my-text-11 {
  @include text-size(grande, OpenSans);
  @include text-color(black);
  @include text-weight(normal);
}

.my-text-12 {
  @include text-size(grande, Lato);
  @include text-color(black);
  @include text-weight(normal);
}

// Tamaños de fuente extra grande
.my-text-13 {
  @include text-size(Xgrande, Roboto);
  @include text-color(black);
  @include text-weight(normal);
}

.my-text-14 {
  @include text-size(Xgrande, Montserrat);
  @include text-color(black);
  @include text-weight(normal);
}

.my-text-15 {
  @include text-size(Xgrande, OpenSans);
  @include text-color(black);
  @include text-weight(normal);
}

.my-text-16 {
  @include text-size(Xgrande, Lato);
  @include text-color(black);
  @include text-weight(normal);
}

// Utilidad para aplicar sombra a un elemento
@mixin sombra($color, $desplazamiento-x, $desplazamiento-y, $desenfoque, $expansion) {
  box-shadow: $desplazamiento-x $desplazamiento-y $desenfoque $expansion $color;
}

// Estilos de sombra predefinidos
.sombra-basica {
  @include sombra(white, 2px, 2px, 5px, 0);
}

.sombra-interior {
  @include sombra(white, 0, 0, 5px, 0);
  box-shadow: inset 0 0 5px white;
}

.sombra-redondeada {
  @include sombra(white, 2px, 2px, 5px, 0);
}


.sombra-contorno {
  @include sombra(white, 0, 0, 0, 2px);
}

.sombra-sobreponer {
  transition: box-shadow 0.3s ease;

  &:hover {
    @include sombra(white, 2px, 2px, 5px, 0);
  }
}

.sombra-enfocar {
  outline: none;
  transition: box-shadow 0.3s ease;

  &:focus {
    @include sombra(white, 0, 0, 5px, 0);
  }
}


.box {
  width: 200px;
  height: 100px;
  background-color: #f0f0f0;
  margin-bottom: 20px;
}



.color-white {
  color: white;
}

.text_Tema{
  h1 {
    margin-top: 10px;
    font-family: map-get($map: $FontPack1, $key: Titulo);
    text-shadow: -4px 0px $color-secundario;
    display: inline-block;
    height: auto;
    color: $FontColorBase;
    font-size: map-get($map: $FontSize, $key: Xgrande);
    font-weight: bold;
  }
}
.color-text{
  color: rgb(81, 174, 14);
}
.centerTXT{
    text-align: center;
    align-self: center;
    justify-content: center;
    align-content: center;
}
.flex{
  display: flex;
  flex-direction: row;
}
.pa{
    padding: 20px;
}

.pa1 {
  padding-left: 10px;
}

.GRID-col-1{
    display: grid;
    grid-template-columns: 1fr;
    gap: 5%;
}

.GRID-col-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5%;
}

.GRID-col-3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5%;
}

.GRID-col-4 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 5%;
}

.GRID-col-5 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 5%;
}

.GRID-row-1 {
  display: grid;
  gap: 5%;
  grid-template-rows: 1fr;
}

//MARGINS

.margin_5
{
  margin: 5%;
}

.copy-btn {
    background-color: $colorbg-primario;
    color: white;
    padding: 8px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    width: auto;
}

// Flexbox utilities
.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-row-reverse {
  flex-direction: row-reverse;
}

.flex-column {
  flex-direction: column;
}

.flex-column-reverse {
  flex-direction: column-reverse;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-nowrap {
  flex-wrap: nowrap;
}

.flex-wrap-reverse {
  flex-wrap: wrap-reverse;
}

// Grid utilities
.grid {
  display: grid;
}

.grid-cols-2 {
  grid-template-columns: repeat(2, 1fr);
}

.grid-cols-3 {
  grid-template-columns: repeat(3, 1fr);
}

.grid-cols-4 {
  grid-template-columns: repeat(4, 1fr);
}

// Other display utilities
.inline {
  display: inline;
}

.inline-block {
  display: inline-block;
}

.block {
  display: block;
}

.hidden {
  display: none;
}

// Responsive utilities
@media (max-width: 767px) {
  .flex-sm {
    display: flex;
  }

  .grid-sm {
    display: grid;
  }

  .inline-sm {
    display: inline;
  }

  .hidden-sm {
    display: none;
  }
}

@media (max-width: 574px) {
  .flex-xs {
    display: flex;
  }

  .grid-xs {
    display: grid;
  }

  .inline-xs {
    display: inline;
  }

  .hidden-xs {
    display: none;
  }
}