@import 'Variables';

// Ocultar
.hidden {
    display: none;
}

/* CSS */
.img-set {
    height: 80vh;
    margin-top: 5%;
    padding-top: 2px;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    background-image: url('/DripCSS/IMG/metro\ .jpg');
    background-size: cover;
    object-fit: cover;
}

.codes
{
    height: 50%;
    object-fit: contain;
    scale: .8;
}

.self-start {
    margin-left: 10px;
    align-self: flex-start;
}

.self-right {
    margin-right: 10px;
    align-self: flex-end;
}

.contenido {
    display: flex;
    justify-content: space-around;
    align-items: center; 
}


.contenido{
    margin-top: 10px;
    margin-left: 10px;
    
}

.contenido{
    transform: translate(10px, 10px);
}

.contenido {
    border: 2px solid #000; 
  }
  
  
  
  

.contenido {
    display: flex;
    justify-content: space-around;
    align-items: center; 
}


.contenido{
    margin-top: 10px;
    margin-left: 10px;
    
}

.contenido{
    transform: translate(10px, 10px);
}

.contenido {
    border: 2px solid #000; 
  }
  
  
  
  


.GRID-row-1 {
    display: grid;
    gap: 5%;
    grid-template-rows: 1fr;
}

.GRID-row-2 {
    @extend .GRID-row-1;
    grid-template-rows: 1fr 1fr;
}

.GRID-row-3 {
    @extend .GRID-row-1;

    grid-template-rows: 1fr 1fr 1fr;
}

.GRID-row-4 {
    @extend .GRID-row-1;

    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.GRID-row-5 {
    @extend .GRID-row-1;

    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

.GRID-col-1 {
    display: grid;
    grid-template-columns: 1fr;
    gap: 5%;
}

.GRID-col-2 {
    @extend .GRID-col-1;
    grid-template-columns: 1fr 1fr;
}

.GRID-col-3 {
    @extend .GRID-col-1;
    grid-template-columns: 1fr 1fr 1fr;
}

.GRID-col-4 {
    @extend .GRID-col-1;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.GRID-col-5 {
    @extend .GRID-col-1;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
/*Redondear elementos*/
.rounded-none{
    border-radius: none;
}
.rounded-xms{
    border-radius: 5px;
}
.rounded-sm{
    border-radius: 10px;
}
.rounded-md{
    border-radius: 30px;
}
.rounded-top-left{
    border-top-left-radius:20px
}
.rounded-top-right{
    border-top-right-radius:20px
}
.rounded-buttom-left{
    border-bottom-left-radius:20px
}
.rounded-buttom-right{
    border-bottom-right-radius:20px
}
.rounded-left{
    border-left: 20px;
}
.rounded-rigth{
    border-right: 20px;
}
.rounded-top{
    border-top: 20px;
}
.rounded-buttom{
    border-bottom: 20px;
}
.rounded-ovalo{
    border-radius: 40px;
    width: 200px;
    height: 100px;
}
.rounded-circulo-pequeño{
    border-radius: 50px;
    width: 150px;
    height: 150px;
}
.rounded-circulo-grande{
    border-radius: 100px;
    width: 150px;
    height: 150px;
}
/*ocultar elementos*/
.ocultar{
    display: none;
}
/*Canbiar color de fondo de los elementos*/
.plta-uno-backgraund-A{
    background: $colorbg-primario;
}
.plta-uno-backgraund-B{
    background: $colorBg-secundario;
}
.plta-dos-backgraund-A{
    background: $colorbg-primarioB;
}
.plta-dos-backgraund-B{
    background: $colorBg-secundarioB;
}
.plta-tres-backgraund-A{
    background-color: $color-primarioC;
}
.plta-tres-backgraund-B{
    background: $colorBg-secundarioC;
}
.plta-cuatro-backgraund-A{
    background: $colorbg-primario;
}
.plta-cuatro-backgraund-B{
    background: $colorBg-secundario;
}
  

  
/*//TIPOs DE TEXTO*///




// Definir las fuentes
$fonts: (
  Roboto: 'Roboto, sans-serif',
  Montserrat: 'Montserrat, sans-serif',
  OpenSans: 'Open Sans, sans-serif',
  Lato: 'Lato, sans-serif'
);

// Utilidad para cambiar el tamaño del texto
@mixin text-size($size, $font) {
  font-size: map-get($FontSize, $size);
  font-family: map-get($fonts, $font);
}

// Utilidad para cambiar el color del texto
@mixin text-color($color) {
  color: $color;
}

// Utilidad para cambiar el grosor del texto
@mixin text-weight($weight) {
  font-weight: $weight;
}



// Tamaños de fuente pequeño
.my-text-1 {
  @include text-size(pequeno, Roboto);
  @include text-color(black); // Cambia el color del texto a negro
  @include text-weight(normal); // Cambia el grosor del texto a normal
}

.my-text-2 {
  @include text-size(pequeno, Montserrat);
  @include text-color(black); 
  @include text-weight(normal); 
}

.my-text-3 {
  @include text-size(pequeno, OpenSans);
  @include text-color(black); 
  @include text-weight(normal); 
}

.my-text-4 {
  @include text-size(pequeno, Lato);
  @include text-color(black); 
  @include text-weight(normal); 
}

// Tamaños de fuente mediano
.my-text-5 {
  @include text-size(mediano, Roboto);
  @include text-color(black); 
  @include text-weight(normal); 
}

.my-text-6 {
  @include text-size(mediano, Montserrat);
  @include text-color(black); 
  @include text-weight(normal); 
}

.my-text-7 {
  @include text-size(mediano, OpenSans);
  @include text-color(black); 
  @include text-weight(normal); 
}

.my-text-8 {
  @include text-size(mediano, Lato);
  @include text-color(black); 
  @include text-weight(normal); 
}

// Tamaños de fuente grande
.my-text-9 {
  @include text-size(grande, Roboto);
  @include text-color(black); 
  @include text-weight(normal); 
}

.my-text-10 {
  @include text-size(grande, Montserrat);
  @include text-color(black); 
  @include text-weight(normal); 
}

.my-text-11 {
  @include text-size(grande, OpenSans);
  @include text-color(black); 
  @include text-weight(normal); 
}

.my-text-12 {
  @include text-size(grande, Lato);
  @include text-color(black); 
  @include text-weight(normal); 
}

// Tamaños de fuente extra grande
.my-text-13 {
  @include text-size(Xgrande, Roboto);
  @include text-color(black); 
  @include text-weight(normal); 
}

.my-text-14 {
  @include text-size(Xgrande, Montserrat);
  @include text-color(black); 
  @include text-weight(normal); 
}

.my-text-15 {
  @include text-size(Xgrande, OpenSans);
  @include text-color(black); 
  @include text-weight(normal); 
}

.my-text-16 {
  @include text-size(Xgrande, Lato);
  @include text-color(black); 
  @include text-weight(normal); 
}

// Utilidad para aplicar sombra a un elemento
@mixin sombra($color, $desplazamiento-x, $desplazamiento-y, $desenfoque, $expansion) {
  box-shadow: $desplazamiento-x $desplazamiento-y $desenfoque $expansion $color;
}

// Estilos de sombra predefinidos
.sombra-basica {
  @include sombra(white, 2px, 2px, 5px, 0);
}

.sombra-interior {
  @include sombra(white, 0, 0, 5px, 0);
  box-shadow: inset 0 0 5px white; 
}

.sombra-redondeada {
  @include sombra(white, 2px, 2px, 5px, 0);
}


.sombra-contorno {
  @include sombra(white, 0, 0, 0, 2px);
}

.sombra-sobreponer {
  transition: box-shadow 0.3s ease;
  &:hover {
    @include sombra(white, 2px, 2px, 5px, 0);
  }
}

.sombra-enfocar {
  outline: none;
  transition: box-shadow 0.3s ease;
  &:focus {
    @include sombra(white, 0, 0, 5px, 0);
  }
}


.box {
  width: 200px;
  height: 100px;
  background-color: #f0f0f0;
  margin-bottom: 20px;
}



.centerTXT{
    text-align: center;
}
.pa{
    padding: 20px;
}
.pa1{
    padding-left: 10px;
}
.flex{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.GRID-col-1{
    display: grid;
    grid-template-columns: 1fr;
    gap: 5%;
}

.GRID-col-2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5%;
}

.GRID-col-3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5%;
}

.GRID-col-4{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 5%;
}

.GRID-col-5{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 5%;
}

.GRID-row-1{
    display: grid;
    gap: 5%;
    grid-template-rows: 1fr;
}