/*Paleta de colores A*/
$colorbg-primario: rgb(52, 52, 52);
$colorBg-secundario :rgb(62, 6, 95);
$color-primario : rgb(142, 5, 194)rgb(142, 5, 194);
$color-secundario : rgb(112, 11, 151);

/*Paleta de colores B*/
$colorbg-primarioB: rgb(0, 0, 0);
$colorBg-secundarioB :rgb(61, 0, 0);
$color-primarioB : rgb(255, 0, 0);
$color-secundarioB : rgb(149, 1, 1);

/*Paleta de colores C*/
$colorbg-primarioC: rgb(7, 15, 43);
$colorBg-secundarioC :rgb(27, 26, 85);
$color-primarioC : rgb(146, 144, 195);
$color-secundarioC : rgb(83, 92, 145);

/*Paleta de colores D*/
$colorbg-primario: rgb(52, 52, 52);
$colorBg-secundario :rgb(62, 6, 95);
$color-primario : rgb(142, 5, 194);
$color-secundario : rgb(112, 11, 151);

/*Colores para texto */
$FontColorBase: rgb(255, 255, 255);

$colorForm-primario: rgb(209, 208, 208);
$colorForm-secundario :rgb(97, 0, 154);
/*tamanos de fuentes*/
$FontSize : ("pequeno": 18px, "mediano": 20px, "grande": 30px, "Xgrande": 50px);

/*Heigths*/
$inputHeigtSizes : ("Xpequeno": 4vh,"pequeno": 4vh, "mediano": 5vh, "grande": 6vh, "Xgrande": 7vh);

/*Width*/
$inputWithSizes : ("Xpequeno": 10%,"pequeno": 15%, "mediano": 20%, "grande": 50%, "Xgrande": 90%);


/*tamanos de paddings*/
$small: 10px;
$meduium: 15px;
$large: 20px;

/*Border radius*/
$estandar : 12px;

/*forms bg*/
$GrayRdBg: radial-gradient(at left top, #373737, #4f4f4f, #5a5a5a, #636363, #929292);