/*Paleta de colores A*/
$colorbg-primario: rgb(52, 52, 52);
$colorBg-secundario :rgb(62, 6, 95);
$color-primario : rgb(142, 5, 194);
$color-secundario : rgb(112, 11, 151);

/*Paleta de colores B*/
$colorbg-primarioB: rgb(0, 0, 0);
$colorBg-secundarioB :rgb(61, 0, 0);
$color-primarioB : rgb(255, 0, 0);
$color-secundarioB : rgb(149, 1, 1);

/*Paleta de colores C*/
$colorbg-primarioC: rgb(7, 15, 43);
$colorBg-secundarioC :rgb(27, 26, 85);
$color-primarioC : rgb(146, 144, 195);
$color-secundarioC : rgb(83, 92, 145);

/*Paleta de colores D*/
$colorbg-primario: rgb(52, 52, 52);
$colorBg-secundario :rgb(62, 6, 95);
$color-primario : rgb(142, 5, 194);
$color-secundario : rgb(112, 11, 151);
/*Colores para texto */
$FontColorBase: rgb(255, 255, 255);

/*tamanos de fuentes*/
$FontSize : ("pequeno": 10px,
    "mediano": 20px,
    "grande": 30px,
    "Xgrande": 50px);

/*fuentes*/


/*tamanos de paddings*/
$small: 10px;
$meduium: 15px;
$large: 20px;