/*Paleta de colores A*/
$colorbg-primario: rgb(52, 52, 52);
$colorBg-secundario :rgb(62, 6, 95);
$color-primario : rgb(142, 5, 194);
$color-secundario : rgb(112, 11, 151);

/*Paleta de colores B*/
$colorbg-primarioB: rgb(0, 0, 0);
$colorBg-secundarioB :rgb(61, 0, 0);
$color-primarioB : rgb(255, 0, 0);
$color-secundarioB : rgb(149, 1, 1);

/*Paleta de colores C*/
$colorbg-primarioC:rgb(3, 6, 55);
$colorBg-secundarioC :rgb(60, 7, 83);
$color-primarioC :rgb(114, 4, 85);
$color-secundarioC : rgb(145, 10, 103);

/*Paleta de colores D*/
$colorbg-primario: rgb(22, 22, 22);
$colorBg-secundario :rgb(52, 103, 81);
$color-primario : rgb(200, 75, 49);
$color-secundario :rgb(236, 219, 186);
/*Colores para texto */
$FontColorBase: rgb(255, 255, 255);

/*tamanos de fuentes*/
$FontSize : ("pequeno": 18px,
    "mediano": 20px,
    "grande": 30px,
    "Xgrande": 50px);

/*fuentes*/


/*tamanos de paddings*/
$small: 10px;
$meduium: 15px;
$large: 20px;

/*Border radius*/
$estandar : 12px

