/*Paleta de colores A*/
/*Paleta de colores B*/
/*Paleta de colores C*/
/*Paleta de colores D*/
/*Colores para texto */
/*tamanos de fuentes*/
/*fuentes*/
/*tamanos de paddings*/
/*Border radius*/
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dancing+Script:wght@400..700&family=Sedan:ital@0;1&display=swap");
header {
  height: 10vh;
  background-color: rgb(142, 5, 194);
}
header a {
  font-size: 30px;
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.my-button-rojo {
  background-color: #ff0000;
  color: #ffffff;
  padding: 10px 20px;
  border: 2px white solid;
  border-radius: 5px;
}

.my-button-azul {
  background-color: #0051ff;
  color: #ffffff;
  padding: 10px 20px;
  border: 2px white solid;
  border-radius: 5px;
}

.my-button-amarillo {
  background-color: #ffea00;
  color: #ffffff;
  padding: 10px 20px;
  border: 2px white solid;
  border-radius: 5px;
}
.my-button-amarillo:hover {
  background-color: bisque;
}

button {
  font-family: monospace;
  font-size: 1.5rem;
  color: #FAFAFA;
  text-transform: uppercase;
  padding: 10px 20px;
  border-radius: 10px;
  border: 2px solid #FAFAFA;
  background: rgb(112, 11, 151);
  box-shadow: 3px 3px #fafafa;
  cursor: pointer;
  margin: 35px 0;
}

button:active {
  box-shadow: none;
  transform: translate(3px, 3px);
}

/*otras opciones de botones*/
.boton {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  background-color: #3498db;
  color: #fff;
}
.boton:hover {
  background-color: #217dbb;
}

.boton-primario {
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  background-color: white;
  color: #fff;
  width: 50%;
  height: 20px;
  border: 2px solid black;
}
.boton-primario:hover {
  background-color: #e6e6e6;
}
.boton-primario:hover {
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.6), 0 0 10px rgba(0, 0, 0, 0.6);
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  background-color: rgb(92, 5, 185);
  color: #fff;
  transition: 0.45s all ease-in;
}
.boton-primario:hover:hover {
  background-color: #430487;
}
.boton-primario:after {
  transition: 0.45s all ease-out;
}

.boton-secundario {
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  background-color: #e74c3c;
  color: #fff;
  width: 50%;
  height: 20px;
  border: none;
  box-shadow: transparent 0 0 0 3px, rgba(18, 18, 18, 0.1) 0 6px 20px;
}
.boton-secundario:hover {
  background-color: #d62c1a;
}

/*button 3*/
.button-3 {
  --b: 3px;
  --s: .45em;
  --color: #373B44;
  padding: calc(0.5em + var(--s)) calc(0.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background: conic-gradient(from 90deg at var(--b) var(--b), rgba(0, 0, 0, 0) 90deg, var(--color) 0) var(--_p) var(--_p)/calc(100% - var(--b) - 2 * var(--_p)) calc(100% - var(--b) - 2 * var(--_p));
  transition: 0.3s linear, color 0s, background-color 0s;
  outline: var(--b) solid rgba(0, 0, 0, 0);
  outline-offset: 0.6em;
  font-size: 16px;
  width: 80px;
  height: 50px;
  border: 0;
  -moz-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.button-3:hover, .button-3:focus-visible {
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: 0.05em;
}
.button-3:active {
  background: var(--color);
  color: #fff;
}

/*Paleta de colores A*/
/*Paleta de colores B*/
/*Paleta de colores C*/
/*Paleta de colores D*/
/*Colores para texto */
/*tamanos de fuentes*/
/*fuentes*/
/*tamanos de paddings*/
/*Border radius*/
/*Paleta de colores A*/
/*Paleta de colores B*/
/*Paleta de colores C*/
/*Paleta de colores D*/
/*Colores para texto */
/*tamanos de fuentes*/
/*fuentes*/
/*tamanos de paddings*/
/*Border radius*/
.Display-flex, .-left, .-center {
  display: flex;
  flex-direction: column;
}

.-col {
  flex-direction: column;
}

.-center {
  align-items: center;
  justify-content: center;
}

.-left {
  align-items: center;
  justify-content: left;
}

.mid_screen {
  height: 70vh;
}

.small_scrren {
  height: 40vh;
}

.Gap-sm {
  gap: 10px;
}

/*Paleta de colores A*/
/*Paleta de colores B*/
/*Paleta de colores C*/
/*Paleta de colores D*/
/*Colores para texto */
/*tamanos de fuentes*/
/*fuentes*/
/*tamanos de paddings*/
/*Border radius*/
.Pd-lf-rg-small {
  padding-left: 10px;
  padding-right: 10px;
}

.Pd-lf-rg-meduium {
  padding-left: 15px;
  padding-right: 15px;
}

.Pd-lf-rg-large {
  padding-left: 20px;
  padding-right: 20px;
}

/*Paleta de colores A*/
/*Paleta de colores B*/
/*Paleta de colores C*/
/*Paleta de colores D*/
/*Colores para texto */
/*tamanos de fuentes*/
/*fuentes*/
/*tamanos de paddings*/
/*Border radius*/
/*Paleta de colores A*/
/*Paleta de colores B*/
/*Paleta de colores C*/
/*Paleta de colores D*/
/*Colores para texto */
/*tamanos de fuentes*/
/*fuentes*/
/*tamanos de paddings*/
/*Border radius*/
.shadow-bottom, .bentoDx3 {
  box-shadow: 0px 10px 0px 0px white;
}

.shadow-bottom_sm {
  box-shadow: 0px 2px 10px 0px white;
}

.shadow-left, .bentoCx3 {
  box-shadow: -5px 5px 0px 0px white;
}

.shadow-top, .bentoAx3 {
  box-shadow: 0px -10px 0px 0px white;
}

.shadow-right, .bentoBx2 {
  box-shadow: 10px 0px 0px 0px white;
}

.shadow-small {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.shadow-medium {
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
}

.shadow-large {
  box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.5);
}

.shadow-up {
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.2);
}

.shadow-down {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.shadow-left, .bentoCx3 {
  box-shadow: -2px 0 4px rgba(0, 0, 0, 0.2);
}

.shadow-right, .bentoBx2 {
  box-shadow: 2px 0 4px rgba(0, 0, 0, 0.2);
}

/*Paleta de colores A*/
/*Paleta de colores B*/
/*Paleta de colores C*/
/*Paleta de colores D*/
/*Colores para texto */
/*tamanos de fuentes*/
/*fuentes*/
/*tamanos de paddings*/
/*Border radius*/
.Letter_hover:hover {
  transition: 0.45s all ease-in-out;
  font-size: 40px;
  font-weight: bold;
  box-shadow: 3px 3px rgb(142, 5, 194);
  background-image: linear-gradient(to right, rgb(153, 148, 252), white);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}

.div_hover_Scale_Up_Down, .bentoDx3, .bentoCx3, .bentoBx2, .bentoAx3 {
  transition: 0.45s all ease-in;
}
.div_hover_Scale_Up_Down:hover, .bentoDx3:hover, .bentoCx3:hover, .bentoBx2:hover, .bentoAx3:hover {
  transform: scale(1.05);
}
.div_hover_Scale_Up_Down:after, .bentoDx3:after, .bentoCx3:after, .bentoBx2:after, .bentoAx3:after {
  transition: 0.35s all ease-out;
  transform: scale(1);
}

.grid1x3 {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "a b c d";
  gap: 10px;
  align-items: center;
}

.area-1x1 {
  grid-area: a;
}

.area-1x2 {
  grid-area: b;
}

.area-1x3 {
  grid-area: c;
}

.area-1x4 {
  grid-area: d;
}

.Bento_grid {
  padding: 10px;
  margin: 5%;
  height: 80vh;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-template-areas: "A A A B B" "A A A B B" "C C X B B " "C C D D D" "C C D D D";
  background: linear-gradient(rgb(112, 11, 151), rgb(62, 6, 95));
  gap: 10px;
  border-radius: 0px 12px 0px 12px;
}

.bentoAx3 {
  margin: 10px;
  border-radius: 12px;
  grid-area: A;
  color: white;
  background-color: RGB(0, 128, 255);
}

.bentoBx2 {
  margin: 10px;
  border-radius: 12px;
  grid-area: B;
  color: white;
  background-color: RGB(255, 0, 128);
}

.bentoCx3 {
  margin: 10px;
  border-radius: 12px;
  grid-area: C;
  color: white;
  background-color: RGB(255, 128, 0);
}

.bentoDx3 {
  margin: 10px;
  border-radius: 12px;
  grid-area: D;
  color: white;
  background-color: RGB(0, 168, 107);
}

.bentoXx1 {
  grid-area: X;
  color: white;
  margin: 0px;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bentoXx1 h1 {
  font-size: larger;
}

.container-padre {
  display: grid;
  border: 2px solid black;
  width: 960px;
  height: 600px;
  margin: auto;
  margin-top: 15px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  padding: 20px;
  gap: 10px;
  background: rgb(52, 52, 52);
  border-radius: 10px;
}
.container-padre .box1, .container-padre .box2 {
  border-radius: 10px;
  border: 2px solid rebeccapurple;
  grid-row: span 2;
}
.container-padre .box1:hover, .container-padre .box2:hover {
  box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.3);
}
.container-padre .box1 {
  display: flex;
  grid-column: span 2;
}
.container-padre .box1 .box1_info {
  padding: 20px;
  align-items: center;
  align-self: flex-start;
  font-size: 13px;
  color: white;
  width: 200px;
  height: auto;
  text-align: justify;
}
.container-padre .box1 .box1_info .box1_button {
  align-self: self-start;
  align-items: center;
  align-items: last baseline;
  width: 100px;
  justify-content: center;
  margin: 50px;
}
.container-padre .box2 {
  grid-column: span 1;
}

.container2 {
  display: grid;
  border: 2px solid black;
  width: 960px;
  height: 400px;
  margin: auto;
  margin-top: 15px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  padding: 20px;
  gap: 10px;
  background: rgb(52, 52, 52);
  border-radius: 10px;
}
.container2 .box {
  border-radius: 10px;
  border: 2px solid rebeccapurple;
  grid-column: span 1;
}
.container2 .box:hover {
  box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.3);
}

.container-padre2 {
  display: grid;
  border: 2px solid black;
  width: 960px;
  height: 600px;
  margin: auto;
  margin-top: 15px;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4, 1fr);
  padding: 20px;
  gap: 10px;
  background: rgb(52, 52, 52);
  border-radius: 10px;
}
.container-padre2 .boxs1 {
  border-radius: 10px;
  border: 2px solid rebeccapurple;
  grid-column: span 2;
  grid-row: 1/span 3;
}
.container-padre2 .boxs1:hover {
  box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.3);
}
.container-padre2 .boxs2 {
  border-radius: 10px;
  border: 2px solid rebeccapurple;
  grid-row: 1/span 2;
  grid-column: span 2;
}
.container-padre2 .boxs2:hover {
  box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.3);
}
.container-padre2 .boxs3 {
  border-radius: 10px;
  border: 2px solid rebeccapurple;
  grid-row: span 1;
  grid-column: span 2;
}
.container-padre2 .boxs3:hover {
  box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.3);
}
.container-padre2 .boxs4 {
  border-radius: 10px;
  border: 2px solid rebeccapurple;
  grid-column: span 6;
}
.container-padre2 .boxs4:hover {
  box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.3);
}

/*
//*Template 2 grid Conteiner*/
.degradado {
  width: 100%;
  height: 600;
}

.layout {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto 1fr auto;
  grid-gap: 10px;
  background-color: #f5f5f5;
}

.header, .layout .header {
  grid-column: 1/-1;
  background-color: rgb(27, 26, 85);
  color: white;
  padding: 20px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.sidebar, .layout .sidebar {
  background-color: rgb(27, 26, 85);
  padding: 20px;
}

.main {
  grid-column: 2/-1;
  background-color: rgb(27, 26, 85);
  padding: 20px;
  width: auto;
  color: rgb(146, 144, 195);
}

.footer, .layout .footer {
  grid-column: 1/-1;
  background-color: rgb(27, 26, 85);
  color: rgb(146, 144, 195);
  padding: 20px;
}

/*Paleta de colores A*/
/*Paleta de colores B*/
/*Paleta de colores C*/
/*Paleta de colores D*/
/*Colores para texto */
/*tamanos de fuentes*/
/*fuentes*/
/*tamanos de paddings*/
/*Border radius*/
.Bg-Base {
  background-color: rgb(52, 52, 52);
}

/*Paleta de colores A*/
/*Paleta de colores B*/
/*Paleta de colores C*/
/*Paleta de colores D*/
/*Colores para texto */
/*tamanos de fuentes*/
/*fuentes*/
/*tamanos de paddings*/
/*Border radius*/
.Font-base {
  color: rgb(255, 255, 255);
}

.letter-Gradient {
  background-image: linear-gradient(to right, rgb(153, 148, 252), white);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}

.titulo, .tema, .bentoXx1 {
  text-shadow: 3px 3px rgb(112, 11, 151);
  font-size: 50px;
  font-weight: bolder;
  font-style: italic;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.titulo::first-letter, .tema::first-letter, .bentoXx1::first-letter {
  color: rgb(142, 5, 194);
  margin-right: 10px;
  text-shadow: 3px 6px white;
  font-size: 125px;
}

.tema {
  font-size: 30px;
  margin-top: 10%;
  margin-left: 10%;
}
.tema::first-letter {
  color: rgb(142, 5, 194);
  text-shadow: 2px 3px white;
  font-size: 50px;
}

.contenido {
  font-size: 30px;
  font-weight: 200;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-wrap: wrap;
  margin-left: 10%;
  margin-right: 10%;
}

.contenido-article {
  font-size: 20px;
  font-weight: 200;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-wrap: wrap;
  margin-left: 10%;
  margin-right: 10%;
  color: white;
}
.contenido-article::first-letter {
  font-weight: bolder;
  color: rgb(112, 11, 151);
  font-size: 40px;
  text-shadow: rgb(255, 255, 255) 1px 0 2px;
}

.li-content {
  font-size: 18px;
  font-weight: 100;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-wrap: wrap;
  margin-left: 3%;
}

/*Paleta de colores A*/
/*Paleta de colores B*/
/*Paleta de colores C*/
/*Paleta de colores D*/
/*Colores para texto */
/*tamanos de fuentes*/
/*fuentes*/
/*tamanos de paddings*/
/*Border radius*/
.welcome {
  border: rgb(133, 133, 133) solid 1px;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 5%;
  border-radius: 12px;
  box-shadow: 0px 0px 4px 4px rgb(112, 11, 151);
}

/*Paleta de colores A*/
/*Paleta de colores B*/
/*Paleta de colores C*/
/*Paleta de colores D*/
/*Colores para texto */
/*tamanos de fuentes*/
/*fuentes*/
/*tamanos de paddings*/
/*Border radius*/
.Letter_hover:hover {
  transition: 0.45s all ease-in-out;
  font-size: 40px;
  font-weight: bold;
  box-shadow: 3px 3px rgb(142, 5, 194);
  background-image: linear-gradient(to right, rgb(153, 148, 252), white);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}

.div_hover_Scale_Up_Down, .bentoAx3, .bentoBx2, .bentoCx3, .bentoDx3 {
  transition: 0.45s all ease-in;
}
.div_hover_Scale_Up_Down:hover, .bentoAx3:hover, .bentoBx2:hover, .bentoCx3:hover, .bentoDx3:hover {
  transform: scale(1.05);
}
.div_hover_Scale_Up_Down:after, .bentoAx3:after, .bentoBx2:after, .bentoCx3:after, .bentoDx3:after {
  transition: 0.35s all ease-out;
  transform: scale(1);
}

/*Paleta de colores A*/
/*Paleta de colores B*/
/*Paleta de colores C*/
/*Paleta de colores D*/
/*Colores para texto */
/*tamanos de fuentes*/
/*fuentes*/
/*tamanos de paddings*/
/*Border radius*/
.hidden {
  display: none;
}

/* CSS */
.img-set {
  height: 80vh;
  margin-top: 5%;
  padding-top: 2px;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%); /* Recorte en diagonal sin afectar el texto */
  background-image: url("/DripCSS/IMG/metro .jpg");
  background-size: cover;
  -o-object-fit: cover;
     object-fit: cover;
}

/*Paleta de colores A*/
/*Paleta de colores B*/
/*Paleta de colores C*/
/*Paleta de colores D*/
/*Colores para texto */
/*tamanos de fuentes*/
/*fuentes*/
/*tamanos de paddings*/
/*Border radius*/
.badge, .badge3, .badge2, .badge1 {
  font-size: 1.4rem;
  font-weight: 500;
  position: relative;
  padding: 4px 12px;
}
.badge::before, .badge3::before, .badge2::before, .badge1::before {
  content: attr(data-badge);
  font-size: 14px;
  position: absolute;
  left: 93%;
  bottom: 70%;
  background: #ffffff;
  padding: 4px 5px;
  border-radius: 50%;
}

.badge1 {
  color: rgb(117, 107, 91);
  background: burlywood;
  border-radius: 5px;
  box-shadow: 3px -20x 24px -10px rgba(0, 0, 0, 0.75);
}

.badge2 {
  color: rgb(1, 191, 255);
  background: rgb(67, 0, 67);
  border: 3px solid;
  box-shadow: 0 0 20px rgba(5, 93, 147, 0.747);
}

.badge3 {
  color: rgb(0, 0, 0);
  background: linear-gradient(45deg, #48d42b, #d3f803);
  border: 3px solid;
  box-shadow: 0 0 20px rgba(0, 78, 33, 0.747);
}

/*Paleta de colores A*/
/*Paleta de colores B*/
/*Paleta de colores C*/
/*Paleta de colores D*/
/*Colores para texto */
/*tamanos de fuentes*/
/*fuentes*/
/*tamanos de paddings*/
/*Border radius*/
.tarjeta {
  position: relative;
  width: 300px;
  height: 350px;
  margin: 20px;
}
.tarjeta .front {
  background-color: rgb(67, 0, 67);
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  overflow: hidden;
  transition: 0.5s;
  transform: perspective(6010px) rotateY(0deg);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
}
.tarjeta .front img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.tarjeta .front h3 {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 45px;
  line-height: 45px;
  color: aliceblue;
  background: rgba(0, 0, 0, 0.4);
  text-align: center;
}
.tarjeta .front:hover {
  transform: perspective(600px) rotateY(180deg);
  transition: 0.45s;
}
.tarjeta .back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transform: perspective(600px) rotateY(180deg);
  background: rgb(53, 53, 53);
  color: antiquewhite;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  padding: 20px;
  box-shadow: 0 5px 10px black;
}
.tarjeta .back .link {
  border-top: solid 1px white;
  height: 50px;
  line-height: 50px;
}
.tarjeta .back .link a {
  color: white;
}
.tarjeta .back h3 {
  font-size: 30px;
  margin-top: 20px;
  letter-spacing: 2px;
}
.tarjeta .back p {
  letter-spacing: 2px;
}
.tarjeta .back:hover {
  transform: perspective(600px) rotateY(0deg);
  transition: 0.45s;
}
.tarjeta:hover .front {
  transform: perspective(600px) rotateY(180deg);
  transition: 0.45s;
}
.tarjeta:hover .back {
  transform: perspective(600px) rotateY(360deg);
  transition: 0.45s;
}

.card {
  position: relative;
  width: 250px;
  height: 380px;
  border-radius: 10px;
  box-shadow: 2px 3px 5px rgba(73, 69, 52, 0.4);
}
.card .contenido {
  position: relative;
  z-index: 90;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
}
.card .contenido .img {
  height: 50%;
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
}
.card .contenido .img img {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}
.card .contenido span {
  position: absolute;
  width: 350px;
  height: 200px;
  background: linear-gradient(to right, #5e2066, #b332c7);
  transform: rotate(-35deg);
  top: -80px;
  left: -100px;
}
.card .contenido h4 {
  font-size: 18px;
  color: black;
  margin-bottom: 5px;
}
.card .contenido h6 {
  font-size: 13px;
  color: #5e2066;
}
.card .contenido p {
  font-size: 13px;
  color: black;
  margin-top: 10px;
}
.card .contenido p {
  font-size: 13px;
  color: black;
  margin-top: 10px;
}
.card .links {
  position: absolute;
  z-index: 100;
  width: 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  padding: 20px;
  align-items: center;
  right: calc(100% + 20px);
  top: 15px;
  transition: 0.5s;
  border-radius: 10px;
  opacity: 0;
}
.card:hover .links {
  right: calc(100% - 50px);
  opacity: 1;
  border-radius: 0 10px 10px 0;
}

.wrapper {
  width: 100px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  height: 400px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: start;
}

.carta {
  width: 80px;
  border-radius: 75rem;
  background-size: cover;
  cursor: pointer;
  overflow: hidden;
  border-radius: 2rem;
  margin: 0 10px;
  display: flex;
  align-items: flex-end;
  transition: 0.6s cubic-bezier(0.2, -0.83, 0, 0.99);
  box-shadow: 0px, 10px, 30px, -5px rgba(0, 0, 0, 0.83);
  background: rgb(169, 92, 213);
}
.carta .row {
  color: white;
  display: flex;
  flex-wrap: nowrap;
}
.carta .icon {
  background: #223;
  color: white;
  border-radius: 50%;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
}
.carta .descripcion {
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  height: 80px;
  width: 520px;
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.3s ease;
}
.carta .descripcion p {
  color: #b0b0b0;
  padding-top: 1px;
}

.descripcion h4 {
  text-transform: uppercase;
}

input {
  display: none;
}

input:checked + label {
  width: 600px;
}

input:checked + label .descripcion {
  opacity: 1 !important;
  transform: translateY(0) !important;
}

.card[for=c1], .card[for=c2], .card[for=c3], .card[for=c4] {
  background: linear-gradient(135deg, #2980b9, #2c3e50);
}

/*Paleta de colores A*/
/*Paleta de colores B*/
/*Paleta de colores C*/
/*Paleta de colores D*/
/*Colores para texto */
/*tamanos de fuentes*/
/*fuentes*/
/*tamanos de paddings*/
/*Border radius*/
.info-container {
  border: 1px solid rgb(112, 11, 151);
  background-color: rgb(62, 6, 95);
  padding: 20px;
  border-radius: 5px;
}

.info-container h2 {
  color: rgb(112, 11, 151);
}

.info-container-content {
  margin-top: 20px;
  background-color: #fff;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.info-container-content h3 {
  color: rgb(112, 11, 151);
}/*# sourceMappingURL=Style.css.map */