/*Paleta de colores A*/
/*Paleta de colores B*/
/*Paleta de colores C*/
/*Paleta de colores D*/
/*Colores para texto */
/*tamanos de fuentes*/
/*fuentes*/
/*tamanos de paddings*/
/*Border radius*/
header {
  height: 10vh;
  background-color: rgb(142, 5, 194);
}
header a {
  font-size: 30px;
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.my-button-rojo {
  background-color: #ff0000;
  color: #ffffff;
  padding: 10px 20px;
  border: 2px white solid;
  border-radius: 5px;
}

.my-button-azul {
  background-color: #0051ff;
  color: #ffffff;
  padding: 10px 20px;
  border: 2px white solid;
  border-radius: 5px;
}

.my-button-amarillo {
  background-color: #ffea00;
  color: #ffffff;
  padding: 10px 20px;
  border: 2px white solid;
  border-radius: 5px;
}
.my-button-amarillo:hover {
  background-color: bisque;
}

button {
  font-family: monospace;
  font-size: 1.5rem;
  color: #FAFAFA;
  text-transform: uppercase;
  padding: 10px 20px;
  border-radius: 10px;
  border: 2px solid #FAFAFA;
  background: rgb(112, 11, 151);
  box-shadow: 3px 3px #fafafa;
  cursor: pointer;
  margin: 35px 0;
}

button:active {
  box-shadow: none;
  transform: translate(3px, 3px);
}

/*Paleta de colores A*/
/*Paleta de colores B*/
/*Paleta de colores C*/
/*Paleta de colores D*/
/*Colores para texto */
/*tamanos de fuentes*/
/*fuentes*/
/*tamanos de paddings*/
/*Border radius*/
/*Paleta de colores A*/
/*Paleta de colores B*/
/*Paleta de colores C*/
/*Paleta de colores D*/
/*Colores para texto */
/*tamanos de fuentes*/
/*fuentes*/
/*tamanos de paddings*/
/*Border radius*/
.Display-flex, .-left, .-center {
  display: flex;
}

.-col {
  flex-direction: column;
}

.-center {
  align-items: center;
  justify-content: center;
}

.-left {
  align-items: center;
  justify-content: left;
}

.mid_screen {
  height: 70vh;
}

.small_scrren {
  height: 40vh;
}

.Gap-sm {
  gap: 10px;
}

/*Paleta de colores A*/
/*Paleta de colores B*/
/*Paleta de colores C*/
/*Paleta de colores D*/
/*Colores para texto */
/*tamanos de fuentes*/
/*fuentes*/
/*tamanos de paddings*/
/*Border radius*/
.Pd-lf-rg-small {
  padding-left: 10px;
  padding-right: 10px;
}

.Pd-lf-rg-meduium {
  padding-left: 15px;
  padding-right: 15px;
}

.Pd-lf-rg-large {
  padding-left: 20px;
  padding-right: 20px;
}

/*Paleta de colores A*/
/*Paleta de colores B*/
/*Paleta de colores C*/
/*Paleta de colores D*/
/*Colores para texto */
/*tamanos de fuentes*/
/*fuentes*/
/*tamanos de paddings*/
/*Border radius*/
/*Paleta de colores A*/
/*Paleta de colores B*/
/*Paleta de colores C*/
/*Paleta de colores D*/
/*Colores para texto */
/*tamanos de fuentes*/
/*fuentes*/
/*tamanos de paddings*/
/*Border radius*/
.shadow-bottom, .bentoDx3 {
  box-shadow: 0px 10px 0px 0px white;
}

.shadow-left, .bentoCx3 {
  box-shadow: -5px 5px 0px 0px white;
}

.shadow-top, .bentoAx3 {
  box-shadow: 0px -10px 0px 0px white;
}

.shadow-right, .bentoBx2 {
  box-shadow: 10px 0px 0px 0px white;
}

.shadow-small {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.shadow-medium {
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
}

.shadow-large {
  box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.5);
}

.shadow-up {
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.2);
}

.shadow-down {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.shadow-left, .bentoCx3 {
  box-shadow: -2px 0 4px rgba(0, 0, 0, 0.2);
}

.shadow-right, .bentoBx2 {
  box-shadow: 2px 0 4px rgba(0, 0, 0, 0.2);
}

.grid1x3 {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "a b c d";
  gap: 10px;
  align-items: center;
}

.area-1x1 {
  grid-area: a;
}

.area-1x2 {
  grid-area: b;
}

.area-1x3 {
  grid-area: c;
}

.area-1x4 {
  grid-area: d;
}

.Bento_grid {
  padding: 10px;
  margin: 5%;
  height: 80vh;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-template-areas: "A A A B B" "A A A B B" "C C X B B " "C C D D D" "C C D D D";
  background: linear-gradient(rgb(112, 11, 151), rgb(62, 6, 95));
  gap: 10px;
  border-radius: 0px 12px 0px 12px;
}

.bentoAx3 {
  margin: 10px;
  border-radius: 12px;
  grid-area: A;
  color: white;
  background-color: RGB(0, 128, 255);
}

.bentoBx2 {
  margin: 10px;
  border-radius: 12px;
  grid-area: B;
  color: white;
  background-color: RGB(255, 0, 128);
}

.bentoCx3 {
  margin: 10px;
  border-radius: 12px;
  grid-area: C;
  color: white;
  background-color: RGB(255, 128, 0);
}

.bentoDx3 {
  margin: 10px;
  border-radius: 12px;
  grid-area: D;
  color: white;
  background-color: RGB(0, 168, 107);
}

.bentoXx1 {
  grid-area: X;
  color: white;
  margin: 0px;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bentoXx1 h1 {
  font-size: larger;
}

/*Paleta de colores A*/
/*Paleta de colores B*/
/*Paleta de colores C*/
/*Paleta de colores D*/
/*Colores para texto */
/*tamanos de fuentes*/
/*fuentes*/
/*tamanos de paddings*/
/*Border radius*/
.Bg-Base {
  background-color: rgb(52, 52, 52);
}

/*Paleta de colores A*/
/*Paleta de colores B*/
/*Paleta de colores C*/
/*Paleta de colores D*/
/*Colores para texto */
/*tamanos de fuentes*/
/*fuentes*/
/*tamanos de paddings*/
/*Border radius*/
.Font-base {
  color: rgb(255, 255, 255);
}

.letter-Gradient {
  background-image: linear-gradient(to right, rgb(153, 148, 252), white);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}

.titulo, .nav3 .logo, .nav2 .logo, .tema, .bentoXx1 {
  text-shadow: 3px 3px rgb(112, 11, 151);
  font-size: 50px;
  font-weight: bolder;
  font-style: italic;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.titulo::first-letter, .nav3 .logo::first-letter, .nav2 .logo::first-letter, .tema::first-letter, .bentoXx1::first-letter {
  color: rgb(142, 5, 194);
  margin-right: 10px;
  text-shadow: 3px 6px white;
  font-size: 125px;
}

.tema {
  font-size: 30px;
  margin-top: 10%;
  margin-left: 10%;
}
.tema::first-letter {
  color: rgb(142, 5, 194);
  text-shadow: 2px 3px white;
  font-size: 50px;
}

.contenido {
  font-size: 30px;
  font-weight: 200;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-wrap: wrap;
  margin-left: 10%;
  margin-right: 10%;
}

.contenido-article {
  font-size: 20px;
  font-weight: 200;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-wrap: wrap;
  margin-left: 10%;
  margin-right: 10%;
  color: white;
}
.contenido-article::first-letter {
  font-weight: bolder;
  color: rgb(112, 11, 151);
  font-size: 40px;
  text-shadow: rgb(255, 255, 255) 1px 0 2px;
}

.li-content {
  font-size: 18px;
  font-weight: 100;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-wrap: wrap;
  margin-left: 3%;
}

/*Paleta de colores A*/
/*Paleta de colores B*/
/*Paleta de colores C*/
/*Paleta de colores D*/
/*Colores para texto */
/*tamanos de fuentes*/
/*fuentes*/
/*tamanos de paddings*/
/*Border radius*/
.welcome {
  border: rgb(133, 133, 133) solid 1px;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 5%;
  border-radius: 12px;
  box-shadow: 0px 0px 4px 4px rgb(112, 11, 151);
}

/*Paleta de colores A*/
/*Paleta de colores B*/
/*Paleta de colores C*/
/*Paleta de colores D*/
/*Colores para texto */
/*tamanos de fuentes*/
/*fuentes*/
/*tamanos de paddings*/
/*Border radius*/
.Letter_hover:hover {
  transition: 0.45s all ease-in-out;
  font-size: 40px;
  font-weight: bold;
  box-shadow: 3px 3px rgb(142, 5, 194);
  background-image: linear-gradient(to right, rgb(153, 148, 252), white);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}

.div_hover_Scale_Up_Down, .bentoAx3, .bentoBx2, .bentoCx3, .bentoDx3 {
  transition: 0.45s all ease-in;
}
.div_hover_Scale_Up_Down:hover, .bentoAx3:hover, .bentoBx2:hover, .bentoCx3:hover, .bentoDx3:hover {
  transform: scale(1.05);
}
.div_hover_Scale_Up_Down:after, .bentoAx3:after, .bentoBx2:after, .bentoCx3:after, .bentoDx3:after {
  transition: 0.45s all ease-out;
  transform: scale(1);
}

/*Paleta de colores A*/
/*Paleta de colores B*/
/*Paleta de colores C*/
/*Paleta de colores D*/
/*Colores para texto */
/*tamanos de fuentes*/
/*fuentes*/
/*tamanos de paddings*/
/*Border radius*/
.hidden {
  display: none;
}

/* CSS */
.img-set {
  height: 80vh;
  margin-top: 5%;
  padding-top: 2px;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%); /* Recorte en diagonal sin afectar el texto */
  background-image: url("/DripCSS/IMG/metro .jpg");
  background-size: cover;
  -o-object-fit: cover;
     object-fit: cover;
}

/*Paleta de colores A*/
/*Paleta de colores B*/
/*Paleta de colores C*/
/*Paleta de colores D*/
/*Colores para texto */
/*tamanos de fuentes*/
/*fuentes*/
/*tamanos de paddings*/
/*Border radius*/
.Font-base {
  color: rgb(255, 255, 255);
}

.letter-Gradient {
  background-image: linear-gradient(to right, rgb(153, 148, 252), white);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}

.titulo, .nav3 .logo, .nav2 .logo, .bentoXx1, .tema {
  text-shadow: 3px 3px rgb(112, 11, 151);
  font-size: 50px;
  font-weight: bolder;
  font-style: italic;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.titulo::first-letter, .nav3 .logo::first-letter, .nav2 .logo::first-letter, .bentoXx1::first-letter, .tema::first-letter {
  color: rgb(142, 5, 194);
  margin-right: 10px;
  text-shadow: 3px 6px white;
  font-size: 125px;
}

.tema {
  font-size: 30px;
  margin-top: 10%;
  margin-left: 10%;
}
.tema::first-letter {
  color: rgb(142, 5, 194);
  text-shadow: 2px 3px white;
  font-size: 50px;
}

.contenido {
  font-size: 30px;
  font-weight: 200;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-wrap: wrap;
  margin-left: 10%;
  margin-right: 10%;
}

.contenido-article {
  font-size: 20px;
  font-weight: 200;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-wrap: wrap;
  margin-left: 10%;
  margin-right: 10%;
  color: white;
}
.contenido-article::first-letter {
  font-weight: bolder;
  color: rgb(112, 11, 151);
  font-size: 40px;
  text-shadow: rgb(255, 255, 255) 1px 0 2px;
}

.li-content {
  font-size: 18px;
  font-weight: 100;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-wrap: wrap;
  margin-left: 3%;
}

.nav, .nav2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(142, 5, 194);
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  overflow: hidden;
}
.nav ul, .nav2 ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.nav ul li, .nav2 ul li {
  float: left;
}
.nav ul li a, .nav2 ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}
.nav ul li a:hover, .nav2 ul li a:hover {
  background-color: rgb(112, 11, 151);
  color: black;
}

.nav2 {
  justify-content: space-between;
  padding: rgb(142, 5, 194);
  display: flex;
  align-items: center;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
}
.nav2 .logo {
  font-size: 32px;
  color: white;
  text-decoration: none;
  margin-left: 15px;
}
.nav2 .logo::first-letter {
  color: rgb(146, 144, 195);
  margin-right: 10px;
  text-shadow: 3px 4px white;
  font-size: 40px;
}

.nav3 {
  justify-self: flex-start;
  background: rgb(142, 5, 194);
  height: 200vh;
  width: 260px;
}
.nav3 label .close-btn {
  display: none;
}
.nav3 .container .logo h2 {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  opacity: 0;
  pointer-events: none;
  transition: 0.3s ease;
}
.nav3 .logo {
  font-size: 32px;
  color: white;
  text-decoration: none;
  margin-left: 15px;
}
.nav3 .logo::first-letter {
  color: rgb(146, 144, 195);
  margin-right: 10px;
  text-shadow: 3px 4px white;
  font-size: 40px;
}
.nav3 .sidenav .search_bar {
  margin-top: 32px;
  position: relative;
}
.nav3 .sidenav .search_bar i {
  position: absolute;
  color: black;
  font-size: 24px;
  left: 38px;
  top: 50%;
  transform: translate(-50%, -50%);
}
.nav3 .sidenav .search_bar input {
  width: 50%;
  padding: 11px;
  padding-left: 40px;
  border-radius: 5px;
  border: none;
  outline: none;
  margin-left: 15px;
}
.nav3 .sidenav .menu_text {
  margin-top: 4px;
}
.nav3 .sidenav .menu_text p {
  font-size: 17px;
  font-weight: 500;
  text-transform: uppercase;
  padding-left: 10px;
}
.nav3 .sidenav .icon_items ul {
  list-style: none;
  margin-top: 32px;
  padding: 0 10px;
}
.nav3 .sidenav .icon_items ul li {
  cursor: pointer;
  margin: 4px;
  padding: 12px 0;
  border-radius: 8px;
  display: flex;
  align-items: center;
  transition: 1s ease;
}
.nav3 .icon_items .active,
.nav3 .sidenav .icon_items ul li:hover {
  background: white;
}
.nav3 .sidenav .icon_items ul li i {
  font-size: 26px;
  padding: 0 12px;
}
.nav3 .sidenav .icon_items ul li a {
  text-decoration: none;
  color: black;
  font-size: 17px;
  padding-left: 18px;
  opacity: 0;
  pointer-events: none;
  transition: 0.3s ease;
}
.nav3 #click {
  display: none;
}
.nav3 .container label {
  position: absolute;
  left: 3%;
  top: 1%;
  font-size: 24px;
  z-index: 1;
  cursor: pointer;
}
.nav3 #click:checked ~ .sidenav {
  width: 260px;
}
.nav3 #click:checked ~ .sidenav .icon_items ul li a {
  opacity: 1;
  pointer-events: auto;
}
.nav3 #click:checked ~ .sidenav .logo h2 {
  opacity: 1;
  pointer-events: auto;
}
.nav3 #click:checked ~ .sidenav .search_bar input {
  width: 100%;
  margin-left: 0;
}
.nav3 #click:checked ~ .sidenav .search_bar i {
  left: 20px;
}
.nav3 #click:checked ~ label {
  left: 1%;
}
.nav3 #click:checked ~ label .close-btn {
  display: block;
}
.nav3 #click:checked ~ label .menu-btn {
  display: none;
}

.badge1 {
  background-color: blue;
  color: #fff;
  padding: 5px 10px;
  border-radius: 10px;
  font-family: "Cursive", sans-serif;
}

.badge2 {
  background-color: #3498db;
  color: #fff;
  padding: 5px 10px;
  border-radius: 10px;
  font-family: "Cursive", sans-serif;
}

.badge3 {
  background-color: #e74c3c;
  color: #fff;
  padding: 5px 10px;
  border-radius: 10px;
  font-family: "Cursive", sans-serif;
}/*# sourceMappingURL=Style.css.map */